body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins',Arial, sans-serif;
    background-image:linear-gradient(rgb(68, 0, 255),rgb(255, 0, 221));
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
}
h1{
    width: 100%; 
    text-align: center; 
    color: white; 
    font-size: 2.5em; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 50px; 
}
h3{
    width: 100%; 
    text-align: center; 
    color: white; 
    font-size: 1.5em; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 20px; 
}
.form-container {
    background:transparent;
    border: 2px solid #ffffff; 
    padding: 50px;
    border-radius: 55px; 
    box-shadow: 0 0 10px rgba(184, 140, 140, 0.1); 
    display: flex; 
    flex-direction: column; 
    align-items: center;
    margin-top: 5%; 
    margin-bottom: auto;  
    max-width: 400px;
    width: 90%;
    box-sizing: border-box;  
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px; 
    width: 100%; 
    align-items: center; 
}
form :hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%; 
    margin-bottom: 10px; 
}
.form-group .input-wrapper { 
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
}

.form-group label {
    
    text-align: left;
    padding-right: 10px; 
    white-space: nowrap; 
}

.form-group input {
    flex-basis: 70%;
    flex-grow: 0;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 55px;
}
.error-message {
    color: #ff4d4d;
    font-size: 0.85em;
    margin-top: 5px; 
    text-align: left;
    width: 100%; 
    
}

.input-error {
    border: 1px solid #ff4d4d !important;
    box-shadow: 0 0 5px rgba(255, 77, 77, 0.5);
}

button {
    padding: 10px 20px;
    background-color: #007bff; 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px; 
    width: auto;
    transition: background-image 0.3s ease; 
    background-image: linear-gradient(rgb(248, 58, 90),rgb(240, 2, 240));
}
button:hover {
    background-image: linear-gradient(rgb(255, 0, 100), rgb(255, 0, 255)); 
}

.text{
    color:white ;
    font-weight: bolder;
    font-style: oblique;
}


